[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "vim"]
	path = vim
	url = git@github.com:krzystof/vim-things.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
