snippet pry "Insert iex pry"
require IEx; IEx.pry;
endsnippet

snippet log "log"
IO.inspect(${1:stuff})
endsnippet

snippet def "def function"
def ${1:name} do
  ${2}
end
endsnippet

snippet defp "def private function"
defp ${1:name} do
  ${2}
end
endsnippet

snippet defm "def module"
defmodule ${1:name} do
  ${2}
end
endsnippet

snippet w "Whook"
Whooks
endsnippet

snippet ww "WhookWeb"
WhooksWeb
endsnippet

snippet test
test "$1" do
  $0
end
endsnippet
